* {
   margin: 0;
   padding: 0;
 
   box-sizing: border-box;
 }
 
 section > .yellow {
   background-color: #efd592;
   max-width: 1200px;
   margin: 0 auto 0 auto;
   height: 50vh;
   display: flex;
   justify-content: flex-end;
   align-content: flex-end;
   align-items: flex-end;
 }
 
 section > .purple {
   background-color: #4343f9;
   max-width: 1200px;
   margin: 0 auto 0 auto;
   height: 50vh;
 }
 
 .circular-button {
   position: absolute;
   top: 25%;
   left: 50%;
   margin-top: -100px;
   margin-left: -100px;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color: #242d38;
 }
 
 .circular-button span {
   display: block;
   font-family: "Poppins", sans-serif;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: lighter;
   font-weight: 100;
   letter-spacing: 0.2em;
   color: #efd592;
   font-weight: 300;
   text-align: center;
 }
 
 .rectangular-button {
   bottom: 40px;
   right: 40px;
   width: 200px;
   height: 60px;
   margin: 0 40px 40px 0;
   border: 6px solid #242d38;
   background-color: #efd592;
 }
 
 .rectangular-button span {
   display: block;
   font-family: "Poppins", sans-serif;
   text-transform: uppercase;
   font-size: 21px;
   font-weight: bolder;
   letter-spacing: 0.2em;
   color: #242d38;
   font-weight: 700;
   text-align: center;
 }
 
 .centered-button {
   position: absolute;
   bottom: 40px;
   left: 50%;
   margin-left: -100px;
   width: 200px;
   height: 60px;
   background-color: #4343f9;
   border: none;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
 }
 
 .centered-button span {
   display: block;
   font-family: "Poppins", sans-serif;
   font-size: 21px;
   font-weight: 400;
   color: #ffffff;
   font-weight: 400;
   text-align: center;
 }
 